
@{
    ViewBag.Title = "Home";
}

@*<h2 style="font-size:xx-large">Welcome to My App!</h2>*@

<h2><img src="~/Content/welcome__5_.png" alt="Welcome" align="middle" style="width:387px;height:99px"></h2>

